{% extends "base.html"%}
{% block title%} Detail Book Page {% endblock%}
 {% block content%}
{% load crispy_forms_tags%}

<div class="row mb-3">
    <div class="col-2">
      <img  class="cover-pic" alt="cover_image"  src="{{book.cover_book.url}}">
    </div>

    <div class="col-6 ms-2">

        <h3>
           {{book.title}}
      </h3>
        <span>
           <b> Authord by -->
            {% for book_author in book.bookauthor_set.all %}
               {% if forloop.last %}
                    <i> {{ book_author.author.full_name}}</i>
               {% else%}
                    <i> {{ book_author.author.full_name}},</i>
               {%endif%}
            {% endfor%} </b>
        </span>
        <p>
             {{book.description}}
         </p>
    </div>

    <div class="row mb-4">
        <div class="col-6">
            <form method="post"  action="{% url 'books:reviews' book.id %}">
                    {% csrf_token%}
                    {{review_form | crispy}}
                    <button class="btn btn-primary">Add review</button>
             </form>
        </div>

    </div>

{% if book.bookreview_set.exists %}

    <h4> Reviews </h4> <hr>
    {% for review in book.bookreview_set.all %}

    <div class = "row mb-3">
        <div class="col-1 me-2">
            <img  class="cover-picture"  src="{{ review.user.profile_picture.url }}">
        </div>
        <div class = "col-7" >
            <b>{{review.user.username}}</b> rated it {{ review.stars_given}} stars <span class="fw-lighter">{{review.created_at}}</span>
             {% if review.user == request.user %}
                <a href="{% url 'books:edit-review' book.id review.id %}"><i class="bi bi-pencil-fill"></i></a>
                <a href="{% url 'books:delete-review' book.id review.id %}"><i class="bi bi-trash"></i></a>
            {% endif %}
            <p class="mt-2 font-monospace fs-6">
               {{review.comment}}
           </p>
        </div>
    </div>

    {%endfor%}
{% endif%}
{% endblock%}
